<h2>Hi {{name}} !</h2>

<body>

<div id="savedPosts">
<button type="button" onclick="savedPosts()">See Saved Posts</button>
</div>


<div id="newPosts">
<button type="button" onclick="getPosts()">See New Posts</button>
</div>


</body>

<script>
function savedPosts() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange= function() {
	  if (this.readyState == 4 && this.status == 200) {
	  	document.getElementById("savedPosts").innerHTML = "no saved posts yet, feature coming soon";
	  }
  };
  xhttp.open("GET", "/home", true);
  xhttp.send();
}

function getPosts() {
  var xhr = new XMLHttpRequest();
  require('./views/db.js');
  const mongoose = require('mongoose');
  const Post = mongoose.model('Post');
  xhr.onreadystatechange= function() {
	  	if(xhr.status >= 200 && xhr.status <400){
			const postDiv = document.getElementById("newPosts");
			
			for(const n of Post){
				const p = document.createElement('p');
				//console.log(n.name);
				p.textContent = n.name + ':' + n.post;
				postDiv.appendChild(p);
			}
		}
	}
  
  xhr.open("GET", "/home", true);
  xhr.send();
}


</script>

<!--
<ul>New Posts Today
<li> anki123: hi everyone! I'll be hosting a study zoom call from 1-2 pm EST @ zoom.com/12343245 </li>
<li> lisalovesart: hey guys, craft night at 8pm EST. message me on gmail me lcArt@nyu.edu to join the google call</li>
<li> delz: hi everyone, my education inequality class is hosting a townhall at 5pm on zoom. Meeting ID is 1234567 join if you can :-) </li>
</ul>
-->

<form action="/logout?_method=DELETE" method="POST"> 
	<button type="submit">Log Out</button>
</form>