<h2>Post</h2>
<p>Find friends while social distancing by sharing your video call link. You can post about a study session, yoga class, or event you're planning. </p>

<div class="form">
	<form action="/post" method="get">
		<input placeholder="share your group video call idea!" type="text" id="tagQuery" name="tagQuery">
		<input type="submit" value="post">
		
	</form>
</div>
