<h2>Post</h2>

<div class="form">
	<form action="/post" method="get">
		<input placeholder="share your group video call idea!" type="text" id="tagQuery" name="tagQuery">
		<input type="submit" value="post">
		
	</form>
</div>
