html {
    background: #ccffff;
    color: #000000;
    font-family: Roboto, sans-serif;
}

.nav {
    text-align: center;
    padding-bottom: 0px;
}

a {
    padding: 5px;
    color: #000000;
    text-underline-offset: 5px;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

title {
    text-align: center;
}

h1 {
	text-align: center;
}

.form{
    
}